
.copy{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.body{
	width: 100%;

}

.light{
	background-color: #f0f0f0
}
.dark{
	background-color: #e0e0e0
}

.navbar{
	position: fixed;
	width: 100%;
	min-height: 60px;
	margin-bottom: 20px;
	background-color: #161620;
	opacity: 0.95;
	border-bottom: 1px solid #666;
	-webkit-transition:background-color .5s, -webkit-transform .5s;
    transition:background-color .5s, transform .5s;
}
.about{
	width: 100%;
	margin-bottom: 100px;

	min-height:  100px;
	background-color: #0f121a;

}
.wrapper{
	max-width: 1000px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.inner-wrapper{
	margin-left: 20px;
	margin-right: 20px;
}

.navbar h1{
	opacity: 1;
	color: #ddd;
	font-size: 18px;
	font-family: "Gill Sans","Helvetica Neue",Helvetica,"Century Gothic",Arial,sans-serif;
	padding-top: 10px;
	font-weight: 200;
	text-transform: uppercase;
	margin-bottom: 0px;
}
.navbar h2.subheading{
	opacity: 1;
	color: #aaa;
	font-size: 17px;
	font-family: "Gill Sans","Helvetica Neue",Helvetica,"Century Gothic",Arial,sans-serif;
	
	font-weight: 100;
	text-transform: uppercase;
	margin-top: 0px;
}


.nav-title{
	margin-right: 30px;
}
.nav-element{
	

	margin-left: 5px;
	margin-right: 5px;
	margin-top: 0px;
	margin-bottom: 0px;
	/*padding-left: 20px;*/
	/*padding-top: 25px;*/
	/*padding-right: 20px;*/
	/*padding-bottom: 25px;*/

	background-color: #181822;
	-webkit-transition:background-color .5s, -webkit-transform .5s;
    transition:background-color .5s, transform .5s;
}


.nav-element:hover{
	background-color: #262630;
}

.navigation h2 a{
	font-family: "Gill Sans","Helvetica Neue",Helvetica,"Century Gothic",Arial,sans-serif;
	font-size: 18px;
	font-weight: 500;
	padding-left: 20px;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	text-decoration: none;
	color: #ddd;
	text-transform: uppercase;
	display: block;
}

.navigation h2 a:hover{
	color: #ddd;
}

.navbar:hover{
	background-color: #050520;
}

.navbar .logo{
	float: right;
	margin-top: 20px;
}


@media (min-width: 800px){
	.navigation{
		float: left;

	}
	.navigation h2 a{
		padding-top: 25px;
		padding-bottom: 25px;
	}
	
}

h1.heading{
	font-family: "Gill Sans","Helvetica Neue",Helvetica,"Century Gothic",Arial,sans-serif;
	font-weight: 300;
	color: #111;
	font-size: 120px;
	padding-bottom: 20px;
	/*margin-left: 40px;*/
	text-align: center;
	/*text-transform: uppercase;;*/
}

.case-study{
	display: block;
	padding-bottom: 70px;
	padding-top: 10px;
}
.case-info{
	display: table;
	/*width: 500px;*/
}


.navbar-container{
	margin-left: auto;
	margin-right: auto;
}

.content img.case-image{
	float: none;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 40px;
}

.content{
	/*min-width: 500px;*/
	width: 100%;
}

p, a {
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 12px;
	line-height: 1.4;
	color:#5a5a5a;
	margin: 0;
}

.case-study h2{
	font-size: 44px;
	font-family: "Gill Sans","Helvetica Neue",Helvetica,"Century Gothic",Arial,sans-serif;
	color: #222;
	margin-bottom: 16px;
	margin-top: 30px;
	font-weight: 200;
}

.case-study h3{
	text-transform: uppercase;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 13px;
	color:#333;
	margin-bottom: 4px;
}

.clear{
	clear:both;
}

@media (min-width: 800px){
	
	.content img.case-image{
		float: right;
		margin-left: 20px;
		
	}
	
}



.footer{
	margin-top: 100px;
	width: 100%;
	min-height: 100px;
	background-color: #0f121a;
}
.footer .copyright{
	font-family: "Gill Sans","Helvetica Neue",Helvetica,"Century Gothic",Arial,sans-serif;
	color:#fff;
	text-align: center;
	padding-top: 60px;
	font-weight: 100;
}

/*About Page*/

.bio{
	padding-top: 30px;
	padding-bottom: 30px;
}
.biotext{
	max-width: 500px;
}
.biotext p{
	margin-top: 10px;
}


